<main class="homeContainer">
  <section class="homeContainer--productsSection">
    <nav>
      <ul class="navContainer">
        <li class="navContainer--li"><a href="/products/inicio">Inicio</a></li>
        <li class="navContainer--li"><a href="/products/TopVentas">Top Ventas</a></li>
        <li class="navContainer--li"><a
            href="/products/EdicionesEspeciales"
          >Ediciones Especiales</a></li>
        <li class="navContainer--li"><a href="/chat">Chat</a></li>
        <li class="navContainer--li"><a
            href="/cart/{{this.cartId}}"
            style="background-color: black; padding:1rem; color:white"
          > CARRITO</a></li>
      </ul>
    </nav>

    {{!--     <div class="sortContainer">
      <a href={{this.sortLink}}>ORDENAR POR MENOR PRECIO</a>
    </div> --}}

    <div class="productContainerCards">
      {{#each payload}}
        <div class="productCard">
          <a href="/item/{{this._id}}"><img
              class="imgProduct"
              src="{{this.thumbnail}}"
              alt="Vinyl-Cover"
            /></a>
          <footer class="detailCard">
            <h3 class="productTitle">{{this.title}}</h3>
            <p class="productPrice">{{this.price}}€</p>
          </footer>
        </div>

      {{/each}}

    </div>
    <section class="productsSection--pagesCounter">
      {{#if this.prevPage}}
        <a href={{this.prevLink}}>
          <img
            src="https://res.cloudinary.com/dqykftyy6/image/upload/v1696861398/ProyectoBackEnd/rightArray_q0010t.svg"
            alt="Página anterior"
          /></a>
      {{/if}}

      <p class="pagesCounter--text">Página</p>
      <p class="pagesCounter--actualPage">{{this.actualPage}}</p>
      <p class="pagesCounter--text"> de {{this.totalPages}}</p>
      {{#if this.nextPage}}
        <a href={{this.nextLink}}>
          <img
            src="https://res.cloudinary.com/dqykftyy6/image/upload/v1696861397/ProyectoBackEnd/leftArray_br6lhs.svg"
            alt="Página anterior"
          /></a>
      {{/if}}
    </section>
  </section>
</main>