<main class="productDetailContainer">
  <section class="productDetailContainer--productSection">
    <nav>
      <ul class="navContainer">
        <li class="navContainer--li"><a href="/products/inicio">Inicio</a></li>
        <li class="navContainer--li"><a href="/products/TopVentas">Top Ventas</a></li>
        <li class="navContainer--li"><a
            href="/products/EdicionesEspeciales"
          >Ediciones Especiales</a></li>
        <li class="navContainer--li"><a href="/chat"> Chat</a></li>
        <li class="navContainer--li"><a
            href="/cart/{{this.cartId}}"
            style="background-color: black; padding:1rem; color:white"
          > CARRITO</a></li>
      </ul>
    </nav>
    <script> const cartId = "{{cartId}}"</script>
    <script> const roleClient = "{{roleClient}}" </script>

    <div class="productContainer">
      {{#each product}}
        <script>
          const productId = "{{this._id}}"
        </script>
        <img style="width:100%" src={{this.thumbnail}} alt="{{this.title}}" />
        <div class="productContainer--info">
          <h5 class="productDetail--title">{{this.title}}</h5>
          <p class="productDetail--description">{{this.description}}</p>
          <p class="productDetail--price">{{this.price}} €</p>
        </div>
      {{/each}}
      <section class="quantitySelectContainer">
        <span>Cantidad: </span>
        <select id="quantity" name="quantity">
          <option class="options" value="1">1</option>
          <option class="options" value="2">2</option>
          <option class="options" value="3">3</option>
          <option class="options" value="4">4</option>
          <option class="options" value="5">5</option>
          <option class="options" value="6">6</option>
          <option class="options" value="7">7</option>
          <option class="options" value="8">8</option>
          <option class="options" value="9">9</option>
          <option class="options" value="10">10</option>
        </select>
      </section>
      <div class="btnsContainer">
        <button id="addToCartBtn">Agregar al carrito</button>
        <a class="btnInicio_Cart" href="/products/inicio">Volver al inicio</a>
        <a class="btnInicio_Cart" href="/cart/{{cartId}}">Ir al carrito</a>
      </div>
    </div>

  </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/js/productDetail.js"></script>