<main class="productDetailContainer">
  <section class="productDetailContainer--productSection">
    <nav>
      <ul class="navContainer">
        <li class="navContainer--li"><a href="/products/inicio">Inicio</a></li>
        <li class="navContainer--li"><a href="/products/TopVentas">Top Ventas</a></li>
        <li class="navContainer--li"><a
            href="/products/EdicionesEspeciales"
          >Ediciones Especiales</a></li>
        <li class="navContainer--li"><a href="/chat"> Chat</a></li>
        <li class="navContainer--li"><a
            href="/cart/{{this.cartId}}"
            style="background-color: black; padding:1rem; color:white"
          > CARRITO</a></li>
      </ul>
    </nav>
    <script>
      const cartId = "{{cartId}}"
    </script>
    <div class="productContainer">
      {{#each product}}
        <script>
          const productId = "{{this._id}}"
        </script>
        <img style="width:100%" src={{this.thumbnail}} alt="{{this.title}}" />
        <div class="productContainer--info">
          <h5 class="productDetail--title">{{this.title}}</h5>
          <p class="productDetail--description">{{this.description}}</p>
          <p class="productDetail--price">{{this.price}} €</p>
        </div>
        {{!         <div class="counterContainer">
          <a class="counterElems">-</a>
          <p class="counter">5</p>
          <a class="counterElems">+</a>
        </div> }}
      {{/each}}
      <div class="btnsContainer">
        <button id="addToCartBtn">Agregar al carrito</button>
        <a class="btnInicio_Cart" href="/products/inicio">Volver al inicio</a>
        <a class="btnInicio_Cart" href="/cart/{{cartId}}">Ir al carrito</a>
      </div>
    </div>

  </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/js/productDetail.js"></script>